//
//  Configuration.xcconfig
//  MuslimApp
//
//  Created by PondokiOS on 11/3/18.
//  Copyright © 2018 PondokiOS. All rights reserved.
//

// All configurations here will be overriden if declared in Pod
// If you need to ensure configuration is written properly
// Then you need to manually setup in project file build setting

FRAMEWORK_SEARCH_PATHS = "$(SRCROOT)/../Carthage/Build/iOS/"

#include "../Pods/Target Support Files/Pods-MuslimApp/Pods-MuslimApp.debug.xcconfig"
